#########
[DEFAULT]
#########

TEST_BOOL       = False
TEST_BOOL2      = yes
TEST_INT        = 2
TEST_FLOAT      = 3.14
TEST_STRING     = /dev/ACM.tty001
TEST_BASE       = /home

#######
[TEST1]
#######

TEST_NEW        = True
TEST_INT        = 4

#######
[TEST2]
#######

TEST_EXTENDED   = ${DEFAULT:TEST_BASE}/alone.py
