#########
[DEFAULT]
#########

PORT                = None
BAUD                = 115200
TIMEOUT             = 1
AUTOCONNECT         = yes
OPERATION_MODE      = SLAVE
SEARCH_PID_VID_ID   = no
SELF_ID             = MACHINE1

########
[MASTER]
########

KEYWORD_TRANSMIT    = ${DEFAULT:KEYWORD_MASTER}
KEYWORD_LISTEN      = ${DEFAULT:KEYWORD_SLAVE}
SEARCH_PID_VID_ID   = yes
TARGET_VID          = 1317
TARGET_PID          = 42151
TARGET_ID           = MACHINE2

# To add other VIDs, PIDs, or IDs, separate values with a comma (no space!).
# Set SEARCH_PID_VID to `no` to blindly poll all available serial ports. If
# enabled, all filters will be applied unless commented out.

# Vendor and Product IDs allow device on other port to be identified without
# sending nonstandard data onto an open serial line and are virually universal
# for serial communication. The target ID is a software defined ID that is
# reported by a slave when queried.

#######
[SLAVE]
#######

#### UPDATE CONFIG FILE - NOT PRODUCTION READY ####
# KEYWORD_TRANSMIT    = ${DEFAULT:KEYWORD_SLAVE}
# KEYWORD_LISTEN      = ${DEFAULT:KEYWORD_MASTER}
